[Unit]
Description=Runner Dev Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/runner_dev
WorkingDirectory=/etc/runner_dev
Restart=on-failure
RestartSec=5
User=root
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
