[Unit]
Description=63c35f4b Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ais_63c35f4b
WorkingDirectory=/etc/ais_63c35f4b
Restart=on-failure
RestartSec=5
User=root
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
